function Invader.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push constant 0
not
pop this 2
push pointer 0
return
function Invader.hit 0
push argument 0
pop pointer 0
push constant 0
pop this 2
push constant 0
return
function Invader.isAlive 0
push argument 0
pop pointer 0
push this 2
return
function Invader.getX 0
push argument 0
pop pointer 0
push this 0
return
function Invader.getY 0
push argument 0
pop pointer 0
push this 1
return
function Invader.reset 0
push argument 0
pop pointer 0
push constant 0
not
pop this 2
push constant 0
return
function Invader.collides 2
push argument 0
pop pointer 0
push argument 1
push this 0
add
pop local 0
push argument 2
push this 1
add
pop local 1
push argument 3
push local 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push argument 4
push local 1
push constant 10
add
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
push argument 4
push constant 2
add
push local 1
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
return
label IF_FALSE2
push constant 0
not
return
function Invader.erase 3
push argument 0
pop pointer 0
push argument 1
push this 0
add
pop local 1
push argument 2
push this 1
add
pop local 2
push constant 16384
push local 2
push constant 32
call Math.multiply 2
add
push local 1
add
pop local 0
push local 0
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Invader.draw 3
push argument 0
pop pointer 0
push argument 1
push this 0
add
pop local 1
push argument 2
push this 1
add
pop local 2
push constant 16384
push local 2
push constant 32
call Math.multiply 2
add
push local 1
add
pop local 0
push local 0
push constant 516
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 2313
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 3069
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 2805
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 3831
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 2046
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 1020
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 264
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 516
call Memory.poke 2
pop temp 0
push constant 0
return
function Invader.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
