function Shield.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 1
push argument 1
pop this 2
push constant 0
pop this 0
push pointer 0
return
function Shield.isActive 0
push argument 0
pop pointer 0
push this 0
push constant 2
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push constant 0
not
return
function Shield.break 0
push argument 0
pop pointer 0
push pointer 0
call Shield.isActive 1
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push pointer 0
call Shield.erase 1
pop temp 0
push this 0
push constant 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 1
pop this 0
goto IF_END1
label IF_FALSE1
push this 0
push constant 1
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 2
pop this 0
label IF_FALSE2
label IF_END1
push pointer 0
call Shield.draw 1
pop temp 0
push constant 0
return
function Shield.reset 0
push argument 0
pop pointer 0
push constant 0
pop this 0
push constant 0
return
function Shield.collides 0
push argument 0
pop pointer 0
push argument 1
call Bullet.getX 1
push this 1
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push argument 1
call Bullet.getY 1
push this 2
push constant 10
add
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
push argument 1
call Bullet.getY 1
push constant 2
add
push this 2
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
return
label IF_FALSE2
push constant 0
not
return
function Shield.draw 0
push argument 0
pop pointer 0
push this 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Shield.drawFullShield 1
pop temp 0
goto IF_END0
label IF_FALSE0
push this 0
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Shield.drawDamagedShield 1
pop temp 0
label IF_FALSE1
label IF_END0
push constant 0
return
function Shield.erase 1
push argument 0
pop pointer 0
push constant 16384
push this 2
push constant 32
call Math.multiply 2
add
push this 1
add
pop local 0
push local 0
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 512
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Shield.drawDamagedShield 1
push argument 0
pop pointer 0
push constant 16384
push this 2
push constant 32
call Math.multiply 2
add
push this 1
add
pop local 0
push local 0
push constant 10922
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 21845
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 10922
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 21845
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 10922
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 21845
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 10922
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 21845
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 10922
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 21525
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 10794
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 21525
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 10794
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 21525
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 10794
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 21525
call Memory.poke 2
pop temp 0
push local 0
push constant 512
add
push constant 10794
call Memory.poke 2
pop temp 0
push constant 0
return
function Shield.drawFullShield 1
push argument 0
pop pointer 0
push constant 16384
push this 2
push constant 32
call Math.multiply 2
add
push this 1
add
pop local 0
push local 0
push constant 32767
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 32767
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 32767
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 32767
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 32767
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 32767
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 32767
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 32767
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 32767
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 32319
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 32319
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 32319
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 32319
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 32319
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32319
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 32319
call Memory.poke 2
pop temp 0
push local 0
push constant 512
add
push constant 32319
call Memory.poke 2
pop temp 0
push constant 0
return
function Shield.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
